@import url('../../../assets/css/colors.css');

.Social{
    display: table;
    margin: 0 auto;
}
.Social ul{
    padding: 0;
    overflow: hidden;
    list-style: none;
    margin: 0;
}
.Social ul li{
    float:left;
    margin:7px;
}
.Social ul li a{
    color: var(--prime-color);
    background-color: var(--white);
    text-align: center;
    display: inline-block;
    width: 28px;
    height: 28px;
    font-size: 14px;
    border-radius: 100%;
    transition: 300ms;
}
.Social ul li a i{
    line-height: 28px;
}
.Social ul li a:hover{
    transform: rotate(360deg);
    text-decoration: none;
}

.hrSpan{
    display: inline-block;
    position: relative;
    height: 1px;
    width: 100%;
    margin: 0 auto;
    background-color:var(--semi-prime-color);
}





@media(max-width:991px){

}
@media(max-width:767px){
    
}
@media(max-width:360px){
    
}