@import url('../../assets/css/colors.css');

.SideBar{
    width:280px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
    transition: 0.5s;
    animation: leftSideBar 400ms;
}
@keyframes leftSideBar {
    from {left:-280px}
    to {left:0}
}



.hideBtn{
    position: fixed;
    transition: 0.5s;
    background-color: var(--semi-prime-color);
    color: var(--semi-white-color);
    display: none;
}




.Name{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin:25px auto;
}

.proPic{
    border-radius: 50%;
    width:170px;
    margin:0 auto;
    display: block;
}

.hi{
    text-align: center;
    margin: 15px;
    font-size: 14px;
}

.hire{
    font-weight: bold;
    display: block;
    width: 40%;
    text-align: center;
    margin: 25px auto;
    padding: 7px 10px;
    background-color:var(--semi-prime-color);
    color: var(--white);
    transition: 200ms;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}
.hire:hover{
    text-decoration:none;
    color: var(--white);
}
.hire::before{
    content:'';
    background-color: var(--white);
    opacity: 0.3;
    position: absolute;
    height: 300%;
    width: 100%;
    top: -100%;
    left: 0;
    border-radius: 50%;
    z-index: 100;
    transform: scale(0);
}
.hire:hover::before{
    animation: ripple 700ms;
}
@keyframes ripple{
    from{
        transform: scale(0);
        opacity: 0.3;
    }
    to{
        transform: scale(1);
        opacity: 0;
    }
}



@media(max-width:991px){

}
@media(max-width:767px){
    .SideBar{
        width:100%;
        z-index: 1000;
    }



    .hideBtn{
        display: block;
        position: fixed;
        top: 50%;
        right: 0;
        border: none;
        padding: 8px 8px;
        border-radius: 4px;
        font-size: 16px;
        line-height: 16px;
        animation: ops 2s;
    }
    .hideBtn i{
        font-size: 26px;
    }
    @keyframes ops {
        from {opacity: 0;}
        to {opacity:1}
    }


    
    .Name{
        font-size: 28px;
    }
    .hi{
        text-align: center;
        margin: 15px 60px;
        font-size: 16px;
    }
    .hire{
        width: 50%;
        text-align: center;
        margin: 45px auto;
        padding: 10px 10px;
    }
}
@media(max-width:360px){
    .SideBar{
        width:100%;
        z-index: 1000;
    }
}