.hideSide {
    left: 0;
}
.hideBtn {
    left: 0;
    right: auto;
    animation: ops 2s;
}
.hideBtn i {
    transform: rotate(180deg);
}
@keyframes ops {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media only screen and (max-width: 480px) {
    .hideSide {
        left: -100%;
    }
}
