@import url('../../assets/css/colors.css');

.Intro{
    padding:50px;
    animation: Intro 1s;
}
@keyframes Intro {
    from {opacity: 0;}
    to {opacity: 1;}
}

.IntroWrapper h1{
    font-weight: bold;
}
.IntroWrapper h4{
    font-weight: 300;
    font-size: 22px;
    color: var(--grey);
}


.heroImg{
    width:270px;
    height: 260px;
    background-position: center;
    background-size: cover;
    display: block;
    margin: 0 auto;
}


.btnWrapper{
    font-size: 14px;
    font-weight: bold;
}
.btnWrapper a{
    padding: 7px 15px;
    border-radius: 3px;
    margin-right: 5px;
    color: var(--white);
}
.btnWrapper a:hover{
    text-decoration: none;
}
.btnPrime{
    background-color: var(--prime-color);
}
.btnDark{
    background-color: var(--dark);
}


@media(max-width:991px){

}
@media(max-width:767px){
    .heroImg{
        width: 250px;
    }
}
@media(max-width:360px){
    .heroImg{
        width: 250px;
    }
}