@import url('./assets/css/colors.css');

.prime-color{
    background-color: var(--prime-color);
    color:var(--white);
}

.main-wrapper{
    margin-left:280px;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #cc4444;
    border-radius: 5px;
}